<main>
  <!-- <section>
    hero sectoin
  </section> -->

  <section>
    <article class="accommodation-listing">
      <div class="accommodation-listing-upper-container">
        <picture class="article-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "article-main-img") %>
        </picture>
        <div class="accommodation-listing-info-container">

        </div>
        <div class="accommodation-listing-contact-container">

        </div>
      </div>
      <div class="accommodation-listing-lower-container">
        <div class="extra-info">

        </div>
        <a href="#"></a>
      </div>
    </article>
  </section>
</main>
