// hero section //

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.index-hero-section{
  height: 100vh;
}

// hero image //
.hero-image {
  height: calc(100vh - var(--hero-container-height));
  width: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
// hero info section //
.hero-container {
  height: var(--hero-container-height);
  width: 100%;
  background-color: black;
  color: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
}

.hero-title-container {
  padding-left: 4.5vw;
  padding-top: 0.4rem;
  padding-bottom: 0.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 600px) {
  .hero-title-container {
    padding-left: 0vw;
    align-items: center;
    text-align: center;
  }
}

.hero-form-container {
  padding-right: 5vw;
  padding-left: 4vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.form-select-container{
  display: flex;
  gap: 1.1rem;
}

.hero-label-container {
  height: 2rem;
  width: 9.2rem;
  border-bottom: solid #FFF 1px;
}

.hero-label-container > p {
  margin-left: 0.6rem;
}

.hero-form-button {
  min-width: 12rem;
  padding: 1.1rem 2.1rem;
  margin-left: 0.2rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.1rem;
  border-color: #FFF;
  background-color: #313030;
  color: #FFF;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Rokkitt", serif;
  text-align: center;
  transition: 0.3s;
   &:hover {
  transition-timing-function: ease-out;
  transition: 0.6s;
  color: black;
  background-color: #FFF;
  }
}
@media screen and (max-width: 600px) {
  .hero-form-button {
    padding: 1.2rem 0rem;
    width: 94vw
  }
}

///////////////////////////
// property info section //
///////////////////////////

.main-section {
  margin-left: 1%;
  margin-right: 1%;
  background-color: #e9e4dd;
}
@media screen and (max-width: 600px) {
  .main-section {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

.space-divider {
  width: 100%;
  height: 2px;
  margin-bottom: 36px;
}
//*** base article styles ***//

.reverse-article {
  flex-direction: row-reverse;
}

.article-content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .article-content-container {
    flex-flow: column nowrap;
  }
  .reverse-article {
    flex-flow: column nowrap;
  }
}

@media only screen and (max-width: 600px) {
  .article-title {
    margin-left: var(--mobile-article-side-padding);
    margin-right: var(--mobile-article-side-padding);
    font-size: 2.5rem;
  }
}

.article-info-container {
  width: calc(33.33333% - 20px);
}

.article-image-container {
  width: calc(66.66667% - 10px);
}
@media only screen and (max-width: 1300px) {
  .article-info-container {
    width: calc(41.66667% - 17.5px);
  }
  .article-image-container {
    width: calc(58.33333% - 12.5px);
  }
}
@media only screen and (max-width: 600px) {
  .article-info-container {
    width: 90%;
    padding-left: var(--mobile-article-side-padding);
    padding-right: var(--mobile-article-side-padding);
  }
  .article-image-container {
    width: 100%;
  }
}

// article images //

.article-main-img {
  max-width: 100%;
  height: 39rem;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .article-main-img {
    height: 23rem;
  }
}

// article lists //

@media only screen and (max-width: 600px) {
  .article-list {
    display: none;
  }
}

.article-list > li {
  font-size: 1.325rem;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1rem 0rem;
  border-bottom: solid 1px #d9d9d9;
}

.article-list > li:last-child {
  border-color: #171717;
}

.article-list-button {
  font: inherit;
  font-size: 1.325rem;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none 0px;
  padding: 1rem;
  margin: -1rem;
  background-color: inherit;
  cursor: pointer;
}

// article links //

.article-link {
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

//*** guest rooms article ***//

.guest-rooms-list {
  border-top: solid 1px #d9d9d9;
}

//*** get on the list article ***//

.get-on-the-list-article {
  border-left: 1px solid var(--get-on-the-list-outline-color);
  border-bottom: 1px solid var(--get-on-the-list-outline-color);
  border-right: 1px solid var(--get-on-the-list-outline-color);
  padding-top: 1.25rem;
  padding-bottom: 2.25rem;
}
@media only screen and (max-width: 600px) {
  .get-on-the-list-article {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

// get on the list top container //

.get-on-the-list-top-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  top: -28px;
}

.top-left-outline-get-on-the-list{
  height: 1px;
  background-color: var(--get-on-the-list-outline-color);
  width: 100%;
}

.get-on-the-list-top-container > h2 {
  border-bottom: none;
  text-align: center;
  width: 50%;
  font-size: 1rem;
  color: #796139;
  font-family: "Rokkitt-special", serif;
  letter-spacing: 2px;
  font-weight: 400;
  position: relative;
  top: -2px
}

.top-right-outline-get-on-the-list {
  height: 1px;
  background-color: var(--get-on-the-list-outline-color);
  width: 100%;
}

// get on the list content container //

.get-on-the-list-content-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .get-on-the-list-content-container {
    flex-direction: column;
  }
}

.list-article-title {
  min-width: 12.5rem;
}

.get-on-the-list-image-container {
  width: calc(41.66667% - 17.5px);
}

.get-on-the-list-info-container {
  width: calc(58.33333% - 12.5px);
}
@media only screen and (max-width: 600px) {
  .get-on-the-list-image-container {
    width: 100%;
  }

  .get-on-the-list-info-container {
    width: 100%;
  }
}

.get-on-the-list-text-container {
  padding-left: 5rem;
  padding-right: 4rem;
}
@media only screen and (max-width: 600px) {
  .get-on-the-list-text-container {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .get-on-the-list-text-container > p {
    margin-bottom: 0rem;
  }
}

// get on the list images //
.get-on-the-list-picture {
  padding-left: 2.5rem;
  padding-right: 1rem;
}
@media only screen and (max-width: 600px) {
  .get-on-the-list-picture {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-height: 13rem;
  }
  .get-on-the-list-main-img {
    min-height: 13rem;
  }
}

.get-on-the-list-main-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

//*** our location article ***//

.location-article {
  padding-bottom: 0rem;
}

.map-link {
  font-size: 1.325rem;
}
