<main>
  <section class="hero-section accommodation-hero-section">

  </section>

  <section class="accommodation-section">
    <article class="accommodation-listing">
      <div class="accommodation-listing-upper-container">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p>Generous rooms offer ample space to relax in our captivating Cape
            Town resort. Your private balcony reveals breathtaking views of
            Table Mountain, our magnificent Marina, or both.
          </p>
        </div>
        <div class="accommodation-listing-contact-container">
          <p class="accommodation-listing-price">$1000/Night</p>
          <button class="accommodation-contact-button" type="button" name="button">
            EXPLORE</button>
        </div>
      </div>
      <!-- <div class="accommodation-listing-lower-container">
        <div class="extra-info">
          <p>blah</p>
          <p>blah</p>
          <p>blah</p>
        </div>
        <a href="#">MORE DETAILS</a>
      </div> -->
    </article>



    <article class="accommodation-listing">
      <div class="accommodation-listing-upper-container">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p>Generous rooms offer ample space to relax in our captivating Cape
            Town resort. Your private balcony reveals breathtaking views of
            Table Mountain, our magnificent Marina, or both.
          </p>
        </div>
        <div class="accommodation-listing-contact-container">
          <p class="accommodation-listing-price">$1000/Night</p>
          <button class="accommodation-contact-button" type="button" name="button">
            EXPLORE</button>
        </div>
      </div>
      <!-- <div class="accommodation-listing-lower-container">
        <div class="extra-info">
          <p>blah</p>
          <p>blah</p>
          <p>blah</p>
        </div>
        <a href="#">MORE DETAILS</a>
      </div> -->
    </article>



    <article class="accommodation-listing">
      <div class="accommodation-listing-upper-container">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p>Generous rooms offer ample space to relax in our captivating Cape
            Town resort. Your private balcony reveals breathtaking views of
            Table Mountain, our magnificent Marina, or both.
          </p>
        </div>
        <div class="accommodation-listing-contact-container">
          <p class="accommodation-listing-price">$1000/Night</p>
          <button class="accommodation-contact-button" type="button" name="button">
            EXPLORE</button>
        </div>
      </div>
      <!-- <div class="accommodation-listing-lower-container">
        <div class="extra-info">
          <p>blah</p>
          <p>blah</p>
          <p>blah</p>
        </div>
        <a href="#">MORE DETAILS</a>
      </div> -->
    </article>



    <article class="accommodation-listing">
      <div class="accommodation-listing-upper-container">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p>Generous rooms offer ample space to relax in our captivating Cape
            Town resort. Your private balcony reveals breathtaking views of
            Table Mountain, our magnificent Marina, or both.
          </p>
        </div>
        <div class="accommodation-listing-contact-container">
          <p class="accommodation-listing-price">$1000/Night</p>
          <button class="accommodation-contact-button" type="button" name="button">
            EXPLORE</button>
        </div>
      </div>
      <!-- <div class="accommodation-listing-lower-container">
        <div class="extra-info">
          <p>blah</p>
          <p>blah</p>
          <p>blah</p>
        </div>
        <a href="#">MORE DETAILS</a>
      </div> -->
    </article>



    
  </section>
</main>
