<main>
  <section class="hero-section accommodation-hero-section">
    <h1 class="accommodation-title">find your accommodation</h1>
  </section>

  <section class="accommodation-section">
    <article class="accommodation-listing">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p class="listing-price">$1350/night</p>
          <p class="listing-description">Generous rooms offer ample space to relax in our captivating Costa
            Rican Beaches. Your private balcony reveals breathtaking views of
            Jaco Beach.
          </p>
          <a href="/sea-esta" class="accommodation-contact-button">EXPLORE</a>
      </div>
    </article>

    <article class="accommodation-listing">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p class="listing-price">$1350/night</p>
          <p class="listing-description">Generous rooms offer ample space to relax in our captivating Costa
            Rican Beaches. Your private balcony reveals breathtaking views of
            Jaco Beach.
          </p>
          <a href="/sea-esta" class="accommodation-contact-button">EXPLORE</a>
      </div>
    </article>

    <article class="accommodation-listing">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p class="listing-price">$1350/night</p>
          <p class="listing-description">Generous rooms offer ample space to relax in our captivating Costa
            Rican Beaches. Your private balcony reveals breathtaking views of
            Jaco Beach.
          </p>
          <a href="/sea-esta" class="accommodation-contact-button">EXPLORE</a>
      </div>
    </article>

    <article class="accommodation-listing">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p class="listing-price">$1350/night</p>
          <p class="listing-description">Generous rooms offer ample space to relax in our captivating Costa
            Rican Beaches. Your private balcony reveals breathtaking views of
            Jaco Beach.
          </p>
          <a href="/sea-esta" class="accommodation-contact-button">EXPLORE</a>
      </div>
    </article>


  </section>
</main>
