<main>
  <section class="hero-section accommodation-hero-section">
    <h1 class="accommodation-title">find your accommodation</h1>
  </section>

  <section class="accommodation-section">
    <article class="accommodation-listing">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p>Generous rooms offer ample space to relax in our captivating Cape
            Town resort. Your private balcony reveals breathtaking views of
            Table Mountain, our magnificent Marina, or both.
          </p>
          <a href="/sea-esta" class="accommodation-contact-button">EXPLORE</a>
      </div>
    </article>

    <article class="accommodation-listing">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p>Generous rooms offer ample space to relax in our captivating Cape
            Town resort. Your private balcony reveals breathtaking views of
            Table Mountain, our magnificent Marina, or both.
          </p>
          <button class="accommodation-contact-button" type="button" name="button">
            EXPLORE</button>
      </div>
    </article>

    <article class="accommodation-listing">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p>Generous rooms offer ample space to relax in our captivating Cape
            Town resort. Your private balcony reveals breathtaking views of
            Table Mountain, our magnificent Marina, or both.
          </p>
          <button class="accommodation-contact-button" type="button" name="button">
            EXPLORE</button>
      </div>
    </article>

    <article class="accommodation-listing">
        <picture class="accommodation-listing-picture">
          <%= image_tag("blue-ocean.jpg", :alt =>
            "white sand beach", :class => "accommodation-listing-img") %>
        </picture>
        <div class="accommodation-listing-info-container">
          <h2>Sea-Esta</h2>
          <p>Generous rooms offer ample space to relax in our captivating Cape
            Town resort. Your private balcony reveals breathtaking views of
            Table Mountain, our magnificent Marina, or both.
          </p>
          <button class="accommodation-contact-button" type="button" name="button">
            EXPLORE</button>
      </div>
    </article>


  </section>
</main>
