<main>
  <section class="house-hero-section">
    <h1>Sea-Esta</h1>
    <p>A stunning home perfected with uninterupted ocean views</p>
  </section>
  <section class="house-overview-section">
    <h2>views to inspire</h2>
    <p>located in a very special place with lots and lots of things to do</p>
    <article class="house-overview-article">
      <div class="house-info">

      </div>
      <div class="house-overview">

      </div>
    </article>
    <aside class="house-extras">
      <div class="">
        <h2></h2>
        <picture>

        </picture>
      </div>
    </aside>
  </section>
  <section class="additional-info-section">
    <div class="banner-image">

    </div>
    <article class="you-may-also-like-article">
      <h2>you may also like</h2>
      <div class="additional-accommodation">

      </div>
      <div class="additional-accommodation">

      </div>
    </article>
  </section>
</main>
