<header>
  <!-- placeholder logo -->
  <div class="placeholder-logo"></div>
  <nav>
    <ul class="nav-list">
      <li><a href="#"></a>Thing One</li>
      <li><a href="#"></a>Thing Two</li>
      <li><a href="#"></a>Thing Three</li>
      <li><a href="#"></a>Thing Four</li>
      <li><a href="#"></a>Thing Five</li>
    </ul>
  </nav>
  <a href="#" class="header-contact-us-btn">contact us</a>
</header>
